button.suvinil {
    line-height: 1.5em;
    background: #e54d13;
    color: #3e4f59;
    cursor: pointer;
    height: 3em;
    outline: 0;
    padding: .27em 1.4em
}

    button.suvinil:hover {
        background-color: #568a37;
        color: #3e4f59;
    }


.logo-suvinil {
    clear: both;
    float: left;
    margin-left: 44.16667%;
    zoom: 1;
    margin-top: 40px;   
}

input.suvinil {
    border: 1px solid #e54d13;
    color: #e54d13;
    height: 3em;
    margin-bottom: 0;
    padding: .5em .6em
}

    input.suvinil:focus {
        border: 1px solid #568a37;
    }

body.cadastro article.step-01 .box, body.cadastro article.step-02 .box, body.cadastro article.step-03 .box, body.fale-conosco article .box-suvinil {
    clear: both;
    width: 41.66667%;
    float: left;
    margin-left: 29.16667%;
    margin-right: -100%;
    border: 1px solid #e54d13;
    *zoom: 1;
    padding: 2em
}

body.fale-conosco article form fieldset input.suvinil:valid ~ label {
    color: #e54d13;
}

body.briefing section#steps ul li.active span.suvinil:before {
    background: #e54d13;
    border: 1px solid #e54d13
}

.logo-suvinil {
    clear: both;
    float: left;
    margin-left: 44.16667%;
    zoom: 1;
    margin-top: 40px;
}

body.fale-conosco article .box-suvinil {
    clear: both;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
    padding: 1em
}

body.fale-conosco article .border-suvinil {
    border: 1px solid #e54d13;
}

footer .copyright, footer .logo {
    clear: both;
    width: 100%;
    float: left;
    text-align: center;
}

@media only screen and (max-width:599px) {
    .logo-suvinil {
        margin-left: 23.16667%;
    }
}

@media only screen and (max-width:599px) {

    .logo-suvinil {
        margin-left: 23.16667%;
    }
}
