<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ARCHIE</title>
</head>
<body>
    <table summary=" " width="100%" border="1" bordercolor="#ccc" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; max-width: 600px;">
        <!--HEADER-->
        <tr>
            <td colspan="3" align="center" style="padding: 20px 0; background: #f1f1f1;">
                <a href="https://www.archie.com.br" title="eduit. bolsas de estudo" border="0" target="_blank">
                    <img src="https://s3-sa-east-1.amazonaws.com/archie-brasil/logo-archie.png" alt="" height="33" style="display: block; border: 0;" />
                </a>
            </td>
        </tr>
        <!--BODY-->
        <tr bgcolor="#ffffff">
            <td colspan="3">
                <table summary=" " style="padding: 40px 0 0 0;" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td width="20px">&nbsp;</td>
                        <td style="text-align: left;">
                            <font color="#4d4d4d" face="'Arial', Helvetica, sans-serif" style="font-size: 18px;">
                                Olá!
                                <br /><br />
                                Estamos muito felizes em tê-lo conosco!
                                <br /><br />
                                Agora falta muito pouco para que possamos te conectar ao seu Archie, o profissional que vai te atender.
                                Primeiro, precisamos que você acesse sua conta e complete o briefing do seu ambiente – se já fez isso é só seguir para o passo a seguir. 
                                <br /><br />
                                Depois, é necessário o envio dessas informações:
                                <br /><br />
                                ⦁ Informações do Ambiente: aqui você deverá escolher a(s) sua(s) paletas de cores favoritas, contar um pouco de como utiliza o ambiente. Enfim, contar o máximo de informações para o seu archie entender o perfil do ambiente que você deseja.
                                <br /><br />
                                ⦁ Planta do ambiente: e aqui você vai anexar uma planta do seu ambiente (pode ser um desenho à mão de como é o seu espaço hoje, ou uma planta impressa). Apenas precisamos das medidas de paredes, portas e inclusive o pé direito.
                                <br /><br />
                                Estas informações precisam estar preenchidas para que o seu archie seja escolhido e o seu atendimento seja iniciado - pois conectamos a um profissional com o seu perfil .
                                Lembramos que apenas após este preenchimento o prazo de 20 dias começa a correr!
                                <br /><br />
                                Portanto, não perca tempo, corra lá!
                                <br /><br />
                            </font>
                        </td>
                        <td width="20px">&nbsp;</td>
                    </tr>
                </table>
                <table summary=" " style="padding: 40px 0 0 0;" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <!-- Space -->
                    <tr><td colspan="3" style="padding: 30px;"></td></tr>

                    <tr>
                        <td colspan="3" style="padding: 0; text-align: center; padding: 0 0 20px 0;">
                            <table width="80%" style="display: inline-block;">
                                <tbody width="100%" style="display: inline-block; float: left; width: 100%; text-align: center;">
                                    <tr style="display: inline-block; width: 100%; float: left;">
                                        <td width="100%" style="display: inline-block; width: 100%; float: left; text-align: center; margin: 0;">
                                            <a href="{CallToAction}" width="100%" title="Completar transformação" style="display: inline-block; font-family: Arial; font-size: 22px; background: #fc0; color:#3e4f59; padding: 10px 0; float: left; width: 100%; text-decoration: none;">Completar transformação</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!-- Space -->
                    <tr><td colspan="3" style="padding: 30px;"></td></tr>
                </table>
            </td>
        </tr>
        <!--FOOTER-->
        <tr bgcolor="#F1F1F1">
            <td colspan="3">
                <table summary=" " width="100%">
                    <td align="center" style="padding: 10px;" border="0" width="100%">
                        <table width="143px">
                            <tr>
                                <td width="32">
                                    <a href="https://www.facebook.com/archie.blog.br/" title="Facebook Archie" target="_blank">
                                        <img src="https://s3-sa-east-1.amazonaws.com/archie-brasil/icone-facebook.png" alt="Facebook Archie" width="32" style="display: block; border: 0;">
                                    </a>
                                </td>
                                <td width="5">
                                    &nbsp;
                                </td>
                                <td width="32">
                                    <a href="https://twitter.com/archie_br/" title="Twitter Archie" target="_blank">
                                        <img src="https://s3-sa-east-1.amazonaws.com/archie-brasil/icone-twitter.png" title="Twitter Archie" alt="Twitter Archie" width="32" style="display: block; border: 0;">
                                    </a>
                                </td>
                                <td width="5">
                                    &nbsp;
                                </td>
                                <td width="32">
                                    <a href="https://www.instagram.com/archie_br/" title="Instagram Archie" target="_blank">
                                        <img src="https://s3-sa-east-1.amazonaws.com/archie-brasil/icone-instagram.png" alt="Instagram Archie" width="32" style="display: block; border: 0;">
                                    </a>
                                </td>
                                <td width="5">
                                    &nbsp;
                                </td>
                                <td width="32">
                                    <a href="https://br.pinterest.com/archie_/" title="Pinterest Archie" target="_blank">
                                        <img src="https://s3-sa-east-1.amazonaws.com/archie-brasil/icone-pinterest.png" alt="Pinterest Archie" width="32" style="display: block; border: 0;">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
