<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>ARCHIE</title>
</head>
<body>
<table summary=" " width="100%" border="1" bordercolor="#ccc" align="center" cellspacing="0" cellpadding="0" style="border-collapse: collapse; max-width: 600px;">
    <!--HEADER-->
    <tr>
        <td colspan="3" align="center" style="padding: 20px 0; background: #f1f1f1;">
            <a href="https://www.archie.com.br" title="eduit. bolsas de estudo" border="0" target="_blank">
                <img src="https://s3-sa-east-1.amazonaws.com/archie-brasil/logo-archie.png" alt="" height="33" style="display: block; border: 0;" />
            </a>
        </td>
    </tr>

    <!--BODY-->
   <tr bgcolor="#ffffff">
        <td colspan="3">
            <table summary=" " style="padding: 40px 0 0 0;" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td width="20px">&nbsp;</td>
                    <td style="text-align: left;">
                        <font color="#4d4d4d" face="'Arial', Helvetica, sans-serif" style="font-size: 18px;">
                        Uhul! Agora é curtir seu novo ambiente!
                        <br /><br />
                        A equipe Archie está muito feliz pela sua transformação de ambiente!  Obrigada por confiar no nosso trabalho!
                        </font>
                    </td>
                    <td width="20px">&nbsp;</td>
                </tr>
            </table>
            <table summary=" " style="padding: 40px 0 0 0;" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr>
                    <td width="20px">&nbsp;</td>
                    <td style="text-align: center;">
                        <font color="#4d4d4d" face="'Arial', Helvetica, sans-serif" style="font-size: 18px;">
                        Que tal começar uma nova etapa da SUA renovação?
                        </font>
                    </td>
                    <td width="20px">&nbsp;</td>
                </tr>
                <!-- Space -->
                <tr><td colspan="3" style="padding: 30px;"></td></tr>
                        
				<tr>
					<td colspan="3" style="padding: 0; text-align: center; padding: 0 0 20px 0;">
					    <table width="80%" style="display: inline-block;">
					        <tbody width="100%" style="display: inline-block; float: left; width: 100%; text-align: center;">
					            <tr style="display: inline-block; width: 100%; float: left;">
					                <td width="100%" style="display: inline-block; width: 100%; float: left; text-align: center; margin: 0;">
					                    <a href="{CallToAction}" width="100%" title="Ver detalhes do ambiente" style="display: inline-block; font-family: Arial; font-size: 22px; background: #fc0; color:#3e4f59; padding: 10px 0; float: left; width: 100%; text-decoration: none;">Ver detalhes do ambiente</a>
					                </td>
					            </tr>
					        </tbody>
					    </table>
					</td>
				</tr>

				<!-- Space -->
                <tr><td colspan="3" style="padding: 30px;"></td></tr>
            </table>
        </td>
    </tr>

    <!--FOOTER-->
    <tr bgcolor="#F1F1F1">
        <td colspan="3">
            <table summary=" " width="100%">
                <td align="center" style="padding: 10px;" border="0" width="100%">
                    <table width="143px">
                        <tr>
                            <td width="32">
                                <a href="https://www.facebook.com/archie.blog.br/" title="Facebook Archie" target="_blank">
                                    <img src="https://s3-sa-east-1.amazonaws.com/archie-brasil/icone-facebook.png" alt="Facebook Archie" width="32" style="display: block; border: 0;">
                                </a>
                            </td>
                            <td width="5">
                                &nbsp;
                            </td>
                            <td width="32">
                                <a href="https://twitter.com/archie_br/" title="Twitter Archie" target="_blank">
                                    <img src="https://s3-sa-east-1.amazonaws.com/archie-brasil/icone-twitter.png" title="Twitter Archie" alt="Twitter Archie" width="32" style="display: block; border: 0;">
                                </a>
                            </td>
                            <td width="5">
                                &nbsp;
                            </td>
                            <td width="32">
                                <a href="https://www.instagram.com/archie_br/" title="Instagram Archie" target="_blank">
                                    <img src="https://s3-sa-east-1.amazonaws.com/archie-brasil/icone-instagram.png" alt="Instagram Archie" width="32" style="display: block; border: 0;">
                                </a>
                            </td>
                            <td width="5">
                                &nbsp;
                            </td>
                            <td width="32">
                                <a href="https://br.pinterest.com/archie_/" title="Pinterest Archie" target="_blank">
                                    <img src="https://s3-sa-east-1.amazonaws.com/archie-brasil/icone-pinterest.png" alt="Pinterest Archie" width="32" style="display: block; border: 0;">
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
